<div class="container">
    <div class="row">
        <form class="details-form "  [formGroup]="modelForm" (ngSubmit)="saveFormData()">
            @if (isEmptyForm){
                <div class='details-form__top ' >Crear gasto</div>
                
            }@else {
                <div class='details-form__top' >Actualiza los datos del gasto</div>
            }

                                         
            <div >
            <p-stepper class="stepper">
                
                <p-stepperPanel header="Datos básicos" >
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem " >
                            <div class="border-1 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                
                                <div class="container">
                                        <div class="details-form__row">
                                            <div  class='details-form__form-field ' >
                                                    
                                                
                                                @if (isEmptyForm) {
                                                <label for="group"  class="details-form__form-field__label">Grupo</label>
                                                <p-dropdown 
                                                    [options]="arrGroupsCreatedByUser" 
                                                    formControlName="group" 
                                                    optionLabel="name"
                                                    (onClick)="onChangeGroup()"
                                                    />

                                                    @if (validateField('group', 'required')){
                                                        <small id="group-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                            
                                                    }
                                                }
                                                </div>
                                        </div>

                                        <div class="details-form__row">
                                            <div  class='details-form__form-field ' >
                                                      
                                                <label for="concept"  class="details-form__form-field__label">Concepto</label>
                                                <input 
                                                    pInputText  class="details-form__form-field__input" 
                                                    id="concept" 
                                                    formControlName="concept"/>
                                                                      
                                                    @if (validateField('concept', 'required')){
                                                        <small id="concept-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                                    @if (validateField('concept', 'minlength')) {
                                                        <small id="concept-help"  class="details-form__form-field__smalllabel error">
                                                            * Longitud mínima: 3 carácteres
                                                        </small>
                                                    }
                                                    @if (validateField('concept', 'maxlength')) {
                                                        <small id="concept-help"  class="details-form__form-field__smalllabel error">
                                                            * Longitud máxima: 255 carácteres
                                                        </small>
                                                    }

                                        </div>
                                    </div>
                                
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field ' >
                                                <label for="amount" class="details-form__form-field__label" >Cantidad</label>
                                                <input 
                                                    pInputText class="details-form__form-field__smallinput"  
                                                    id="amount" 
                                                    formControlName="amount"
                                                   />
                                                   
                
                                                    @if (validateField('amount', 'required')){
                                                        <small id="amount-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                                    @if (validateField('amount', 'min')) {
                                                        <small id="amount-help"  class="details-form__form-field__smalllabel error">
                                                            * Cantidad mínima: 1 
                                                        </small>
                                                    }
                                                    @if (validateField('amount', 'max')) {
                                                        <small id="amount-help"  class="details-form__form-field__smalllabel error">
                                                            * Cantidad máxima: 100.000
                                                        </small>
                                                    }
                                                    @if (validateField('amount', 'pattern')) {
                                                        <small id="amount-help"  class="details-form__form-field__smalllabel error">
                                                            * Campo numérico
                                                        </small>
                                                    }
                                        </div>
                                    </div>

                                    <div class="details-form__row">
                                        <div  class='details-form__form-field' >
                                                <label for="paidBy" class="details-form__form-field__label" >Pagado por</label>
                                                <p-dropdown 
                                                    [options]="arrParticipantsWithinAGroup" 
                                                    formControlName="paidBy" 
                                                    optionLabel="name"
                                                    />
                                                   
                                                    @if (validateField('paidBy', 'required')){
                                                        <small id="paidBy-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>
                                      
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field' >
                                                <label for="expenseDate" class="details-form__form-field__label" >Fecha del gasto</label>
                                                <p-calendar class="details-form__form-field__input"  
                                                    
                                                    dateFormat="dd-mm-yy"
                                                    formControlName="expenseDate"/>
                                                   
                
                                                    @if (validateField('expenseDate', 'required')){
                                                        <small id="expenseDate-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>
                                      

                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field' >
                                                <label for="maxDate" class="details-form__form-field__label" >Fecha máxima para saldar cuentas</label>
                                                <p-calendar 
                                                    class="details-form__form-field__input"  
                                                   
                                                    dateFormat="dd-mm-yy"
                                                    formControlName="maxDate"/>
                                                   
                
                                                    @if (validateField('maxDate', 'required')){
                                                        <small id="maxDate-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>

                                   @if (!isEmptyForm)  {
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field' >
                                                <label for="expenseStatus" class="details-form__form-field__label" >Estado del gasto : {{modelForm.get('expenseStatus').value}} </label>
                                               
                                        </div>
                                    </div>

                                }
                                   
                                </div>             
                                              
                            </div>
                        </div>
                        
                        <div class="flex pt-4 justify-content-end">
                            <p-button 
                                label="Agregar imagen comprobante" [text]="true" (onClick)="nextCallback.emit()" />

                             
                        </div>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Ticket o comprobante">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem" >
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                <div class="container">
                                    <div class="details-form__row">
                                        <div  class='details-form__form-field ' >
                                                  
                                            <label for="name"  class="details-form__form-field__label">Image url</label>
                                            <input 
                                                pInputText  class="details-form__form-field__input" 
                                                id="image" 
                                                formControlName="image"/>
                                                                  
                                                
                                                @if (validateField('image', 'maxlength')) {
                                                    <small id="name-help"  class="details-form__form-field__smalllabel error">
                                                        * Longitud máxima: 255 carácteres
                                                    </small>
                                                }                     
                                            
                                        </div>
                                     </div>

                                    <p-fileUpload 
                                        name="demo[]" 
                                        url="https://www.primefaces.org/cdn/api/upload.php" 
                                        (onUpload)="onUpload($event)" 
                                        [multiple]="false" 
                                        accept="image/*" 
                                        maxFileSize="1000000" class="p-link">
                                            <ng-template pTemplate="content">
                                                @for (file of uploadedFiles; track $index) {
                                                    <li> 
                                                        {{ file.name }} - {{ file.size }} bytes
                                                        </li>
                                                    }
                                                
                                            </ng-template>
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-start ">
                            <p-button  [text]="true"
                                label="Volver" 
                                (onClick)="prevCallback.emit()" />
                        </div>

                        <p-button  [text]="true"
                        label="Ver repartición del gasto" 
                       
                        (onClick)="nextCallback.emit()" />

                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel header="Ver repartición del gasto">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback"  let-index="index">
                        <div class="flex flex-column h-12rem" >
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">

                                @if(isEmptyForm){
                                    <div class="details-form__row">
                                        <div  class='details-form__form-field ' >
                                            <small id="participants-help"  class="details-form__form-warningMessage">
                                                Para ver la repartición del gasto, primero debes guardarlo
                                            </small>
                                        </div>
                                    </div>   
                                }@else{                              
                                    <div class="details-form__row">
                                        <div  class='details-form__form-field ' >
                                                <label class="details-form__form-field__label" >Listado de participantes</label>
                                                <div class="scrollable" formArrayName="participants">
                                                  
                                                    @for (participant of participants.controls; track participant) {
                                                        <div [formGroupName]="$index">
                                                            <label for="participantName" class="details-form__form-field__label" >Nombre: {{participant.get('participantName')?.value}}</label>
                                                            <div class="details-form__form-field__subfieldSet ">
                                                                <div class="details-form__form-field__subfields"></div>
                                                                <div class="details-form__form-field__subfields"><label for="percentage" class="details-form__form-field__label" >Porcentage</label> <input  pInputText class="details-form__form-field__input"  id="percentage" formControlName="percentage" /></div>
                                                                <div class="details-form__form-field__subfields"><label for="amount" class="details-form__form-field__label" >Cantidad</label> <input pInputText  class="details-form__form-field__input"  id="amount"  formControlName="amount" /></div>
                                                                <div class="details-form__form-field__subfields"><label for="participantExpenseStatus" class="details-form__form-field__label" >Estado del gasto</label> <input pInputText class="details-form__form-field__input"  id="expenseStatus"  formControlName="expenseStatus" /></div>
                                                            </div>
                                                        </div>
                                                        }
                                                </div>
                                                   
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button [text]="true"
                                label="Volver" 
                                
                                (onClick)="prevCallback.emit()" />
                           
                        </div>
                    </ng-template>
                </p-stepperPanel>
            
                
            </p-stepper>
            <footer>
            <div  class="details-form__submit"  > <button mat-flat-button color="primary" [disabled]="modelForm.invalid" >Guardar y cerrar</button></div>
            </footer>
            </div> 
            
                  
        </form>
    </div>
</div>

