<div class="container">
    <div class="row">
        <form class="details-form "  [formGroup]="modelForm" (ngSubmit)="saveFormData()">
            @if (isEmptyForm){
                <div class='details-form__top ' >Crear gasto</div>
                
            }@else {
                <div class='details-form__top' >Actualiza los datos del gasto</div>
            }

            <p-toast position="bottom-left" key="br" />
                                        
            <div >
            <p-stepper class="stepper">
                
                <p-stepperPanel header="Datos básicos" >
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem " >
                            <div class="border-1 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                
                                <div class="container">
                                        <div class="details-form__row">
                                            <div  class='details-form__form-field ' >
                                                      
                                                <label for="concept"  class="details-form__form-field__label">Concepto</label>
                                                <input 
                                                    pInputText  class="details-form__form-field__input" 
                                                    id="concept" 
                                                    formControlName="concept"/>
                                                                      
                                                    @if (validateField('concept', 'required')){
                                                        <small id="concept-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                               
                                                    }
                                        </div>
                                    </div>
                                
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field ' >
                                                <label for="amount" class="details-form__form-field__label" >Cantidad</label>
                                                <input 
                                                    pInputText class="details-form__form-field__input"  
                                                    id="amount" 
                                                    formControlName="amount"/>
                                                   
                
                                                    @if (validateField('amount', 'required')){
                                                        <small id="amount-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>

                                    <div class="details-form__row">
                                        <div  class='details-form__form-field' >
                                                <label for="paidBy" class="details-form__form-field__label" >Pagado por</label>
                                                <input 
                                                    pInputText class="details-form__form-field__input"  
                                                    id="paidBy" 
                                                    formControlName="paidBy"/>
                                                   
                                                    @if (validateField('paidBy', 'required')){
                                                        <small id="paidBy-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>
                                      
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field' >
                                                <label for="expenseDate" class="details-form__form-field__label" >Fecha del pago</label>
                                                <p-calendar class="details-form__form-field__input"  
                                                    id="expenseDate" 
                                                    formControlName="expenseDate"/>
                                                   
                
                                                    @if (validateField('expenseDate', 'required')){
                                                        <small id="expenseDate-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>
                                      

                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field' >
                                                <label for="maxDate" class="details-form__form-field__label" >Fecha máxima para saldar cuentas</label>
                                                <p-calendar 
                                                    class="details-form__form-field__input"  
                                                    id="maxDate" 
                                                    formControlName="maxDate"/>
                                                   
                
                                                    @if (validateField('maxDate', 'required')){
                                                        <small id="maxDate-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>

                                    
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field' >
                                                <label for="expenseStatus" class="details-form__form-field__label" >Estado del gasto</label>
                                                <input 
                                                    pInputText class="details-form__form-field__input"  
                                                    id="expenseStatus" 
                                                    formControlName="expenseStatus"/>
                                                   
                
                                                    @if (validateField('expenseStatus', 'required')){
                                                        <small id="expenseStatus-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                        </div>
                                    </div>


                                   
                                </div>             
                                              
                            </div>
                        </div>
                        
                        <div class="flex pt-4 justify-content-end">
                            <p-button 
                                label="Repartir el gasto" [text]="true" (onClick)="nextCallback.emit()" />

                             
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Repartición del gasto">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem" >
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                             
                              
                                    <div class="details-form__row">
                                        <div  class='details-form__form-field ' >
                                                <label class="details-form__form-field__label" >Listado de participantes</label>
                                                <div class="scrollable" formArrayName="participants">
                                                  
                                                    @for (participant of participants.controls; track participant) {
                                                        <div [formGroupName]="$index">
                                                            <label for="participantName" class="details-form__form-field__label" >Nombre: {{participant.get('participantName')?.value}}</label>
                                                            <div class="details-form__form-field__subfieldSet ">
                                                                <div class="details-form__form-field__subfields"></div>
                                                                <div class="details-form__form-field__subfields"><label for="percentage" class="details-form__form-field__label" >Porcentage</label> <input  pInputText class="details-form__form-field__input"  id="percentage" formControlName="percentage" /></div>
                                                                <div class="details-form__form-field__subfields"><label for="amount" class="details-form__form-field__label" >Cantidad</label> <input pInputText  class="details-form__form-field__input"  id="amount"  formControlName="amount" /></div>
                                                                <div class="details-form__form-field__subfields"><label for="participantExpenseStatus" class="details-form__form-field__label" >Estado del gasto</label> <input pInputText class="details-form__form-field__input"  id="expenseStatus"  formControlName="expenseStatus" /></div>
                                                            </div>
                                                        </div>
                                                        }
                                                </div>
                                                   
                                        </div>
                                    </div>

                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button [text]="true"
                                label="Volver" 
                                
                                (onClick)="prevCallback.emit()" />
                            <p-button  [text]="true"
                                label="Agregar imagen comprobante" 
                               
                                (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Ticket o comprobante">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                        <div class="flex flex-column h-12rem" >
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                <p-fileUpload 
                                    name="demo[]" 
                                    url="https://www.primefaces.org/cdn/api/upload.php" 
                                    (onUpload)="onUpload($event)" 
                                    [multiple]="false" 
                                    accept="image/*" 
                                    maxFileSize="1000000" class="p-link">
                                        <ng-template pTemplate="content">
                                            @for (file of uploadedFiles; track $index) {
                                                   <li> 
                                                    {{ file.name }} - {{ file.size }} bytes
                                                    </li>
                                                }
                                            
                                        </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-start ">
                            <p-button  [text]="true"
                                label="Volver" 
                                (onClick)="prevCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
            <footer>
            <div  class="details-form__submit"  > <button mat-flat-button color="primary" [disabled]="modelForm.invalid" >Guardar y cerrar</button></div>
            </footer>
            </div> 
            
                  
        </form>
    </div>
</div>

