<div class="container">
    <div class="row">
        <form class="details-form "  [formGroup]="modelForm" (ngSubmit)="saveFormData()">
            @if (isEmptyForm){
                <div class='details-form__top ' >Crear grupo</div>
                
            }@else {
                <div class='details-form__top' >Actualiza los datos de tu grupo</div>
            }

                                               
            <div >
            <p-stepper class="stepper">
                
                <p-stepperPanel header="Datos básicos" >
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div class="border-1 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                
                                <div class="container">
                                        <div class="details-form__row">
                                            <div  class='details-form__form-field ' >
                                                      
                                                <label for="name"  class="details-form__form-field__label">Nombre del grupo</label>
                                                <input 
                                                    pInputText  class="details-form__form-field__input" 
                                                    id="name" 
                                                    formControlName="name"/>
                                                                      
                                                    @if (validateField('name', 'required')){
                                                        <small id="name-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                                    @if (validateField('name', 'minlength')) {
                                                        <small id="name-help"  class="details-form__form-field__smalllabel error">
                                                            * Longitud mínima: 3 carácteres
                                                        </small>
                                                    }
                                                    @if (validateField('name', 'maxlength')) {
                                                        <small id="name-help"  class="details-form__form-field__smalllabel error">
                                                            * Longitud máxima: 255 carácteres
                                                        </small>
                                                    }                     
                                                
                                            </div>
                                    </div>
                                
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field ' >
                                                <label for="description" class="details-form__form-field__label" >Descripción</label>
                                                <input 
                                                    pInputText class="details-form__form-field__input"  
                                                    id="description" 
                                                    formControlName="description"/>
                                                   
                
                                                    @if (validateField('description', 'required')){
                                                        <small id="description-help"  class="details-form__form-field__smalllabel error">
                                                            * Obligatorio
                                                        </small>
                                                    }
                                                    @if (validateField('description', 'minlength')) {
                                                        <small id="description-help"  class="details-form__form-field__smalllabel error">
                                                            * Longitud mínima: 3 carácteres
                                                        </small>
                                                    }
                                                    @if (validateField('description', 'maxlength')) {
                                                        <small id="description-help"  class="details-form__form-field__smalllabel error">
                                                            * Longitud máxima: 255 carácteres
                                                        </small>
                                                    }   
                                        </div>
                                    </div>
                                      
                                 
                                   
                                </div>             
                                              
                            </div>
                        </div>
                        
                        <div class="flex pt-4 justify-content-end">
                            <p-button 
                                label="Agregar/Modificar participantes" [text]="true" (onClick)="nextCallback.emit()" />

                             
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Participantes">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                             
                              
                                    <div class="details-form__row ">
                                        <div  class='details-form__form-field ' >
                                                <label class="details-form__form-field__label" >Listado de participantes</label>
                                                <div class="flex flex-column align-items-center justify-content-center scrollable">
                                                    <p-tree 
                                                        [value]="participants" 
                                                        selectionMode="checkbox" 
                                                        class="w-full md:w-30rem" 
                                                        [(selection)]="selectedParticipants" 
                                                     />
                                                </div>
                                                
                                        </div>
                                    </div>

                                    
                                    <input type="text" pInputText id="inviteEmail" formControlName="inviteEmail"  />

                                    @if ( emailEmpty()){
                                        <p-button  [text]="true"  (click)="addInvitation()"  label="Invitar" [disabled]="true" />
                                    }@else if (validateField('inviteEmail', 'pattern')){
                                        <small id="inviteEmail-help"  class="details-form__form-field__smalllabel error">
                                            * Formato inválido
                                        </small>
                                        <p-button  [text]="true"  (click)="addInvitation()"  label="Invitar" [disabled]="true" />
                                    }@else {
                                        <p-button  [text]="true"  (click)="addInvitation()"  label="Invitar" [disabled]="false" />
                                    }
                                    <small id="inviteEmail-help"  class="details-form__form-field__smalllabel">
                                        * Las personas invitadas a través de su email serán visibles como participantes cuando se registren en GG APP
                                    </small>
                                


                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button [text]="true"
                                label="Volver" 
                                
                                (onClick)="prevCallback.emit()" />
                            <p-button  [text]="true"
                                label="Agregar/Modificar imagen" 
                               
                                (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Imagen de grupo">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                <div class="container">
                                    <div class="details-form__row">
                                        <div  class='details-form__form-field ' >
                                                  
                                            <label for="name"  class="details-form__form-field__label">Image url</label>
                                            <input 
                                                pInputText  class="details-form__form-field__input" 
                                                id="image" 
                                                formControlName="image"/>
                                                                  
                                                
                                                @if (validateField('image', 'maxlength')) {
                                                    <small id="name-help"  class="details-form__form-field__smalllabel error">
                                                        * Longitud máxima: 255 carácteres
                                                    </small>
                                                }                     
                                            
                                        </div>
                                     </div>
                                
                                
                                
                                <p-fileUpload 
                                    name="demo[]" 
                                    url="https://www.primefaces.org/cdn/api/upload.php" 
                                    (onUpload)="onUpload($event)" 
                                    [multiple]="false" 
                                    accept="image/*" 
                                    maxFileSize="1000000" class="p-link">
                                        <ng-template pTemplate="content">
                                            @for (file of uploadedFiles; track $index) {
                                                   <li> 
                                                    {{ file.name }} - {{ file.size }} bytes
                                                    </li>
                                                }
                                            
                                        </ng-template>
                                </p-fileUpload>
                            </div>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-start ">
                            <p-button  [text]="true"
                                label="Volver" 
                                (onClick)="prevCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
            <footer>
            <div  class="details-form__submit"  > <button mat-flat-button color="primary" [disabled]="modelForm.invalid" >Guardar y cerrar</button></div>
            </footer>
            </div> 
            
                  
        </form>
    </div>
</div>
