<section>
    <div class="container" >
        <div class="row">
            <div class="header">
                <div class="header__top">Gastos en los grupos a los que perteneces</div>
                <div class='header__top--image'><img class="header__top__image" src="/assets/images/money.png"></div>
                <div class='header__top--icon'><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"  [routerLink]="['/newexpense']"></mat-icon></div>
            </div>

            <div class="container">
                <div class="details-form__row">
                <form class="details-form"  [formGroup]="searchForm">
                    <div  class='details-form__form-field' >
                                                       
                        <label for="selectedGroup"  class="details-form__form-field__label">Selecciona un grupo</label>
                        <p-dropdown 
                                    [showClear]="true"
                                    [options]="arrGroups" 
                                    formControlName="selectedGroup" 
                                    optionLabel="name" 
                                    (onClick)="searchData()" 
                                    (onClear)="searchData()"/>

                    </div>
                </form>
                </div>
            </div> 

            <div class="list-table">
                <table mat-table [dataSource]="expensesInfo"  >

                
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Group Column -->
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Grupo </th>
                    <td mat-cell *matCellDef="let element"> {{element.group.name}} </td>
                    </ng-container>
            
                <!-- Concept Column -->
                <ng-container matColumnDef="concept">
                <th mat-header-cell *matHeaderCellDef> Concepto </th>
                <td mat-cell *matCellDef="let element"> {{element.concept}} </td>
                </ng-container>

                 <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} € </td>
                </ng-container>
                
                <!-- Expense Status Column -->
                <ng-container matColumnDef="expenseStatus">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.expenseStatus === 'Paid' ? 'Pagado' : 'Reportado' }}
                </td>
                </ng-container>

                <!-- PaidBy Column -->
                <ng-container matColumnDef="paidBy">
                <th mat-header-cell *matHeaderCellDef> Pagado por </th>
                <td mat-cell *matCellDef="let element"> {{ userMap.get(element.paidBy) || element.paidBy }} </td>
                </ng-container>

                                         
                <!-- Expense date Column -->
                <ng-container matColumnDef="expenseDate">
                <th mat-header-cell *matHeaderCellDef> Fecha del gasto </th>
                <td mat-cell *matCellDef="let element"> {{element.expenseDate| date: 'dd/MM/yyyy' }}  </td>
                </ng-container>

                 <!-- Expense max date Column -->
                <ng-container matColumnDef="maxDate">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Fecha máxima para saldar el gasto">Fecha máx. </th>
                <td mat-cell *matCellDef="let element"> {{element.maxDate| date: 'dd/MM/yyyy' }}  </td>
                </ng-container>
                 <!-- Personal Amount to Pay Column -->
                <ng-container matColumnDef="Tu parte">
                <th mat-header-cell *matHeaderCellDef>Tu parte</th>
                <td mat-cell *matCellDef="let element">{{ element.myAmount | number:'1.2-2'  }} € </td>
                </ng-container>

                <!-- Personal Status Column -->
                <ng-container matColumnDef="Tu estado">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.myStatus === 'Paid'" color="primary" class="paid-icon">check_circle</mat-icon>
                    <mat-icon *ngIf="element.myStatus !== 'Paid'" color="accent">hourglass_empty</mat-icon> 
            </td>
        </ng-container>
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="showOptions(element)">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *ngIf="isAdmin(element.group)" mat-menu-item routerLinkActive="active" [routerLink]="['/editexpense', element.id]" [queryParams]="{parent: 'list'}">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button *ngIf="!isPayer(element.paidBy) && !isPaid(element.myStatus)" mat-menu-item (click)="updateStatusToPaid(element)">
                                <mat-icon>euro</mat-icon>
                                <span>Pagar</span>
                            </button>
                            <button *ngIf="isAdmin(element.group)" mat-menu-item (click)="deleteExpense(element)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </ng-container>
                </td>
            </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            @if (expensesInfo.length==0){
                <small id="expenses-help"  class="details-form__form-warningMessage">
                 No hay gastos registrados para el grupo seleccionado
                </small>
            }
        </div>   
    </div>
</section>