.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% auto;
    padding: 10px 10px;
    align-items: center;        
}

.header__top{
    font-size:  1.5rem;
    font-weight: bold ;
   
}

.header__top--image{
    padding-left: 20px;
}

.header__top__image{
    width: 50px;
}

.header__top--icon{
    padding-left: 40px;
}

.list-table{
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-radius: 1rem;
    width:  95%;
   
}

.details-form__form-field{
    flex-basis: 100%;
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

.details-form__form-field__label{
    font-size: 1.1rem;
    
 }

.details-form__form-warningMessage{
    margin-top: 20px;
    font-size: 1.1rem;
}

 .details-form__row{
    padding: 10px;
}

.details-form__form-field__input{
    font-size: 1rem;
    width: 400px;
}


 .test{
    border-color: red;
    border-width: 5px;
    border-style: dashed;
}