<div class="sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="signInForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signInForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Password" formControlName="password" type="password" required>
        <mat-error *ngIf="signInForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
  
      <div *ngIf="error" class="error">{{ error }}</div>
  
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Sign In</button>
        <span>OR</span>
        <button mat-raised-button color="accent" type="button" routerLink="/sign-up">Sign Up</button>
      </div>
    </form>
  </div>
  